body {
	background-color: #48c;
	margin: 0;
	padding: 0;
}


#header {
	background-color: #333;
	min-width: 400px;
}

#header .title {
	padding: 10px 25px 10px 25px;
}

#header .title a {
	text-decoration: none;
	font-size: 4em;
	color: white;
}

#top {
	width: 100%;
	background-color: #48c;
}

#top #menu {
	
}

#top #menu .menu-item {
	color: #333;
	font-size: 1.45em;
	float: left;
	font-weight: bold;
	padding: 5px 20px;
	margin-left: 10px;
	text-decoration: none;
}

#top #menu .menu-item a {
	text-decoration: inherit;
	color: inherit;
}

#top #menu .menu-item:HOVER {
	color: white;
	background-color: #333;
}

#top #menu .menu-item.active {
	color: white;
	background-color: #333;
}

#content {
	background-color: #efefff;
	min-height: 600px; /* for modern browsers */
	height: auto !important; /* for modern browsers */
	height: 600px; /* for IE5.x and IE6 */
	padding: 5px 30px;
	font-size:0.85em;
}

#footer {
	clear: both;
	background-color: #333;
	min-height: 100px;
}

#footer p {
	color: white;
	padding-top: 10px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

#tagcloud {
	border: 1px solid #aaa;
	padding: 10px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 8px #888;
	-webkit-box-shadow: 0px 0px 8px #888;
	box-shadow: 0px 0px 8px #888;
}

#tagcloud .tag-entry {
	text-decoration: none;
	color: #33a;
	padding: 4px;
}

#tagcloud .tag-entry:HOVER {
	padding: 3px;
	border: 1px solid #bbb;
	-moz-box-shadow: 0px 0px 4px #888;
	-webkit-box-shadow: 0px 0px 4px #888;
	box-shadow: 0px 0px 4px #888;
}

.select-entry {
	padding: 4px;
	margin: 2px 3px;
	font-size: 0.9em;
	float: left;
	background: #99c3ff;
	border: thin solid #888;
	cursor: pointer;
	height: 18px;
	font-weight: bold;
	color: #222;
}

.select-entry:HOVER {
	background: #4a7;
	color: #fff;
	-moz-box-shadow: 0px 3px 4px #888;
	-webkit-box-shadow: 0px 3px 4px #888;
	box-shadow: 0px 3px 4px #888;
}

#selected-list {
	padding: 10px;
	border: 1px solid #888;
	border-radius: 4px;
}

#selected-list .select-entry {
	
}

#selected-list .select-entry:HOVER {
	background: #d66;
}

.country-entry {
	background-color: white;
	margin: 5px 0;
	float: left;
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 4px;
}

.country-entry .stats {
	float: left;
	width: 40%;
	padding: 25px 15px 15px 65px;
}

.country-entry .title {
	margin: 25px 65px 5px 65px;
}

.country-entry .chart {
	float: left;
	padding: 0 0 20px 0;
}

.sigma-parent {
	position: relative;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #333;
	height: 700px;
}

.sigma-expand {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


.clear {
	clear: both;
}