body {
	background-color: #333;
	color: #444;
}

a:link {
	color: #669;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #66a;
	font-weight: bold;
	text-decoration: none;
}

a:active,a:hover {
	color: #bd5a35;
	text-decoration: underline;
}

#header {
	background-color: #333;
	min-width: 400px;
}

#header .title {
	padding: 25px 25px 15px 25px;
}

#header .title a {
	text-decoration: none;
	font-size: 4.3em;
	color: white;
	font-weight: normal;
}

#top {
	width: 100%;
	background-color: #48c;
}

#top #menu {
	
}

#top #menu .menu-item {
	color: #333;
	font-size: 1.45em;
	float: left;
	font-weight: bold;
	padding: 8px 20px;
	margin-left: 10px;
	text-decoration: none;
}

#top #menu .menu-item a {
	text-decoration: inherit;
	color: inherit;
}

#top #menu .menu-item:HOVER {
	color: white;
	background-color: #333;
}

#top #menu .menu-item.active {
	color: white;
	background-color: #333;
}

#content {
	background-color: #f3f3ff;
	background: url(/img/background.jpg);
	min-height: 600px; /* for modern browsers */
	height: auto !important; /* for modern browsers */
	height: 600px; /* for IE5.x and IE6 */
	padding: 15px 30px;
	font-size: 1em;
	line-height: 27px;
}

#footer {
	clear: both;
	background-color: #333;
	min-height: 100px;
	height:100%;
}

#footer p {
	color: white;
	padding-top: 10px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.select-entry {
	padding: 0 4px 8px 4px;
	margin: 2px 3px;
	font-size: 0.95em;
	float: left;
	background: #99c3ff;
	border: thin solid #888;
	cursor: pointer;
	height: 18px;
	font-weight: bold;
	color: #222;
}

.select-entry:HOVER {
	background: #4a7;
	color: #fff;
	-moz-box-shadow: 0px 3px 4px #888;
	-webkit-box-shadow: 0px 3px 4px #888;
	box-shadow: 0px 3px 4px #888;
}

#selected-list {
	float: left;
}

#selected-list .select-entry:HOVER {
	background: #d66;
}

form input.hidden {
	display: none;
}
#selected-list form button {
	float:left;
}
#select-form {
	float: left;
	margin: 0;
	margin-top: 1px;
}

.country-entry {
	background-color: white;
	margin: 5px 0;
	float: left;
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 4px;
}

.country-entry .stats {
	float: left;
	width: 40%;
	padding: 25px 15px 15px 65px;
}

.country-entry .title {
	margin: 25px 65px 5px 65px;
}

.country-entry .chart {
	float: left;
	padding: 0 0 20px 0;
}

.sigma-parent {
	margin: 10px 0px;
	position: relative;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #333;
	height: 700px;
}

.sigma-expand {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.clear {
	clear: both;
}

#text-section {
	padding: 0 20px 0px 50px;
	margin: 10px;
}

#text-nav {
	padding: 10px 20px;
	text-align: right;
	margin: 10px 20px 10px 0;
	color: #666;
	text-decoration: none;
	font-size: 0.75em;
	text-shadow: 2px 1px 0px #fff;
	-moz-box-shadow: 4px 0px 2px -3px #ccc;
	-webkit-box-shadow: 4px 0px 2px -3px #ccc;
	box-shadow: 4px 0px 2px -3px #ccc;
	float: left;
}

#text-nav .text-nav-entry:hover {
	color: #bd5a35;
	text-decoration: underline;
	cursor: pointer;
}

#text-content {
	max-width: 1160px;
	min-width: 50%;
	padding: 10px 10px 1px 165px;
	-moz-box-shadow: 0 1px 5px #e1e1e1;
	-webkit-box-shadow: 0 1px 2px #e1e1e1;
	box-shadow: 0 1px 2px #e1e1e1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#text-content h4 {
	color: #777;
	margin: 5px 0;
	text-shadow: 2px 2px 2px #fff;
}

.hidden {
	display: none;
}