<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
{% block head %}
	<title>FreelyStats - {% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script> 
	<script src="/js/jquery.tagcloud.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/select_cloud.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
</head>

{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/jobs.html', 'jobs', 'Categories'),
    ('/trends.html', 'trends', 'Trends'),
    ('/bids.html', 'bids', 'Bids Stats'),
    ('/country_stats.html', 'country_stats', 'Statistics'),
    ('/networks.html', 'networks', 'Networks'),
    ('/clusters.html', 'clusters', 'Clusters'),
    ('/recommendations.html', 'recommendations','Recommendations')
] %}
{% set active_page = active_page|default('index') %}

<body>
	<div id="header">
		<div class="title center"><a href='/'>Freely Stats</a></div>
	</div>
	<div id="top">
		<div id="menu">
			{% for href, id, caption in navigation_bar %}
  			<div class = "menu-item {% if id == active_page %}active{% endif%}">
  				<a href="{{ href|e }}">{{ caption }}</a>
  			</div>
			{% endfor %}
			<div class="clear"></div>
		</div>
	</div>
	<div id="content">{% block content %}{% endblock %}</div>
	<div id="footer">
		<center>
		<p>&copy; Copyright 2012 by Marius Constantinescu | Ruxandra Nistor
			 | Cosmin Stefan-Dobrin </p>
		<p>A project for the Web and Social Interaction class of 2012</p>
		</center>
	</div>


</body>
</html>