{% extends "templates/base.html" %} {% set active_page = "bids" %} {%
block title %}Bids{% endblock %} {% block head %} {{ super() }}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
	$(document).ready(function() {
		
		// Add the click handlers for selecting and deselecting the jobs for the filter
		$("#selection-cloud .select-entry").click(on_select);
		$("#selected-list .select-entry").click(on_deselect);
		
		// Add the click listener for showing the map
		$("#show-map").click(function() {
			if($("#map-chart").is(":visible"))
			{
				$("#map-chart").slideUp('normal');
				$(this).text("Show map...");
			}
			else
			{
				$("#map-chart").slideDown('normal');
				$(this).text("Hide map...");
			}
		});
	});
	
	
	google.load('visualization', '1', {'packages': ['geochart', 'corechart']});
	google.setOnLoadCallback(drawCharts);

	function drawCharts(){
		drawRegionsMap();
		drawAcceptedBids();
		drawOutBids();
	}
	
	function drawAcceptedBids(){
        var data, options, chart;
        
        {% for bid in accepted_bids %}
        // Drawing chart for {{bid.country}}
        data = google.visualization.arrayToDataTable([
			['Country', 'Bids Accepted'],
			{% for c in bid.accepted_expanded%} 
			['{{c[0]}}', {{c[1]}} ] {%if not loop.last %},{%endif%}
			{% endfor %}
		]);
		
		options = { 
				title: 'Project owners in \'{{bid.country}}\' accept freelancers from:',
				legend: {position: 'left'}, 
				height: 260};
		
		chart = new google.visualization.PieChart(document.getElementById('accepted-chart-{{loop.index}}'));
		chart.draw(data, options);
		{% endfor %}
	}
	
	function drawOutBids(){
        var data, options, chart;
        
        {% for bid in out_bids %}
        // Drawing chart for {{bid.country}}
        data = google.visualization.arrayToDataTable([
			['Country', 'Outbound Bids'],
			{% for c in bid.bids_expanded%} 
			['{{c[0]}}', {{c[1]}} ] {%if not loop.last %},{%endif%}
			{% endfor %}
		]);
		
		options = { 
				title: 'People from \'{{bid.country}}\' bid on projects from:',
				legend: {position: 'left'}, 
				height: 250};
		
		chart = new google.visualization.PieChart(document.getElementById('out-bids-chart-{{loop.index}}'));
		chart.draw(data, options);
		{% endfor %}
		
	}
	
	function drawRegionsMap() {
		// Fill in the data
		var dataTable = new google.visualization.DataTable();
		dataTable.addColumn('string', 'Country');
		dataTable.addColumn('number', 'Selected?');
		// A column for custom tooltip content
		dataTable.addColumn({type: 'string', role: 'tooltip'});
		dataTable.addRows([
			{% for c in selectable_countries%} 
			{% if c in countries %} ['{{c}}', 0 , "Selected"] {% else %} ['{{c}}', 100 , ""] {%endif%} {% if not loop.last %},{%endif%}
			{% endfor %}
		]);

		// Draw the chart
		var options = {
				enableRegionInteractivity: true, height: 500,
				tooltip: {trigger: 'focus'}, legend: 'none',
				colors: ['orange', '#005500'] };
		var chart = new google.visualization.GeoChart(document.getElementById('map-chart'));
		chart.draw(dataTable, options);
 };
    </script>
{% endblock %} {% block content %} {{ super() }}

<div id='selection-cloud'>
	{% for country in selectable_countries %}
	{% if not country in countries %}
	<div class="select-entry">{{country}}</div>
	{% endif %}
	{% endfor %}
</div>
<div class="clear"></div>
<p><i class="icon-globe"></i><i id="show-map" style="color: blue; cursor: pointer;">Show map...</i></p>
<div id="map-chart" hidden="hidden" style="width:100%; margin: auto;"></div>
<a id="results"></a>
<strong>Selected:</strong>
<div class="well well-small" >
	<form action="#results" id="select-form" class="inline-form"  data-filter='country' >
		<button class="btn" type="submit">Go!</button> 
		{% for country in countries %} 
		<input type='text' name='country' class="hidden" value='{{country}}'/>
		{% endfor %}
	</form>
	<div id="selected-list" style="float:left">
		{% for country in countries %}
		<div class="select-entry">{{country|e}}</div>
		{% endfor %}
	</div>
	<div class="clear"></div>
</div>

<hr />
{% for bid in accepted_bids %}
<!-- Chart for accepted bids for {{bid.country}} -->
<div class="country-entry">
	<h2 class="title">{{bid.country}}</h2>
	<div class="chart" id="accepted-chart-{{loop.index}}" style="width: 50%;"></div>
	<div class="chart" id="out-bids-chart-{{loop.index}}" style="width: 50%;"></div>
</div>
{% endfor%}
<div class="clear"></div>

{% endblock %}

{% block text_main %}
<p>This page shows correlations between the nationality of the
	buyers (people who submitted a project), the nationality of the
	accepted bidders and the countries of projects to which bidders apply
	most. Only the top 19 countries by number of projects submitted are
	shown on this page (see Technical Details for the explanation).</p>
<p>
	You can choose one or more countries in the list below. You can also
	use the map provided by clicking on <i>Show Map</i> to see more easily
	which countries can be selected (green) and which are selected (orange;
	but only after pressing the <i>Go!</i> button ).
</p>
{% endblock %}


{% block text_analysis %}
<p>If we look at the statistics regarding where different people from
	different countries apply to, we can see that in top there are USA,
	Australia and Canada. Because these three countries are in top for
	every other country, it means that they post most of the projects, not
	necessarily that all the other countries prefer them.</p>
<p>The statistics of people accepted for a project are similar: there
	are three main countries on top: India, Pakistan and Bangladesh. Again,
	this doesn't mean that the people from this countries are necessarily
	the best, but it means that a large number of people from these
	countries apply for freelancing jobs. An interesting observation is
	that in the top 7 for countries of accepted bidders is Romania, which
	is a small country, compared to US (about 8% of the population) or
	India. This means that, for this country, the number of people working
	in the technical field on freelancing jobs is much higher than the
	average or the quality of the work is considered very good by the project
	posters.</p>
{% endblock %}

{% block text_tech %}
<p>For this section, we used a dataset containing 29.965 project
	details, 28.640 sellers, 363.884 bids and 45.399 users.</p>
<p>The data regarding accepted bidders is only presented for the top
	19 countries by number of projects submitted by people of this
	nationality. We had to limit the countries to this number as the
	difference between the number of projects submitted (and contained in
	our dataset), by the first country (United States - 4744) and the
	following countries was increasing exponentially (e.g. Germany, 6th,
	293 projects or Denmark, 15th, 127 projects).</p>
{% endblock %}
