{% extends "templates/base.html" %} {% set active_page = "clusters" %}
{% block title %}Clusters{% endblock %}
{% block head %} {{super()}}
<style>
.img-container{
	margin: 20px auto;
	background: white;
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 80%;
	min-width: 600px;
	max-width: 1300px;
	padding: 15px;
}
.img-container img{
	width: 100%;
}
</style>
{% endblock %}
{% block content %} {{super()}}
<h2 id="results">K-Means Clustering</h2>
<form action="#results" class="form-inline">
	<div class="well">Select the number of clusters:
	{% for s in selectable %}
	<button class="btn{% if s == clusters_count %} disabled{%endif%}" type='submit' name='clusters_count' value='{{s}}'>{{s}}</button>
	
	 {% endfor %}
	</div>
</form>
{% if clusters!=None %}
{% for cluster in clusters.clusters_expanded %}
	<p><span class="label label-important">Cluster {{loop.index}}:</span> 
	{% for job in cluster %}
		<span class="badge badge-info">{{job}}</span>
	{% endfor %}
{% endfor %}
{% else %}
{% if clusters_count ==-1 %}No cluster size selected... {% else %} <div class="alert">Selected not a valid cluster size...</div> {%endif%}
{% endif %}
	</p>
<h2>Hierarchical clustering</h2>
<div class="img-container">
	<img src="/img/job_dendrogram.png"/>
</div>

{% endblock %}

{% block text_main %}
<p>This section presents how the skills from freelancer.com can be
	grouped together. We have tried two approaches: one that uses the
	k-means algorithm and one that uses the hierarchical clustering
	algorthm.</p>

<p>
	The <b>K-means algorithm</b> was run for a number of clusters that
	varied from 10 to 16 and from 18 to 26 skipping odd numbers.
</p>

<p>
	The <b>hierarchical clustering algorithm</b> is presented as a
	dendrogram where the user can approximate how related two skills are (we
	have also emphasized the most important clusters).
</p>

{% endblock %} {% block text_tech %}
<p>We have presented two clustering methods applied on our skills
	set. Before feeding the data to the clustering algorithms we have
	computed the feature vectors for each skill This feature vector is a
	binary vector where an entry represents whether a project requires that
	skill.</p>

<p>
	The <b>k-means clustering algorithm </b>divides the data into clusters
	based on the number of clusters decided by the user. It is a fast
	iterative algorithm which tries to gather the data around central
	points of the space: centroids. We have run the k-means algorithm using
	various numbers of clusters. Due to the nature of the data, the results 
	are not as good as expected or as good as the ones from hierarchical 
	clustering. As the feature vector is very large, the distances will not 
	have high variations, which can cause problems when assigning a skill to 
	a centroid.
</p>

<p>
	The <b>hierarchical clustering algorithm</b> takes longer, but the
	clusters are more accurate. The hierarchical clustering results are
	presented in a dendrogram, which also shows the links between clusters.
	This way, the user can see, by the actual length of the links, how close
	the clusters are. The most important clusters have been marked directly
	on the dendrogram.
</p>
{% endblock %}

{% block text_analysis %}
<p>As it can be seen the clusters from the hierarchical clustering
	are more accurate and make more sense. This is cause by the fact
	k-means algorithm uses a heuristic to split the data into groups and
	for this type of data, the heuristic doesn't perform very well.</p>
<p>The hierarchical clustering displayed in the dendogram shows that
	the clusters found by the algorithm contain skills that are really
	related to each other from a technical perspective. For example, all
	the operating systems are gather together, as well as most of the
	common programming languages.</p>
{% endblock %}
