{% extends "templates/base.html" %} {% set active_page = "clusters" %}
{% block title %}Clusters{% endblock %}
{% block head %} {{super()}}
<style>
.img-container{
	margin: 20px auto;
	background: white;
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 80%;
	min-width: 600px;
	max-width: 1300px;
	padding: 15px;
}
.img-container img{
	width: 100%;
}
</style>
{% endblock %}
{% block content %} {{super()}}
<h2>K-Means Clustering</h2>
<form target="#results">
	<select name="clusters_count">
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
	</select>
	<input type="submit" value="Go"/>
</form>
{% if clusters!=None %}
{% for cluster in clusters.clusters_expanded %}
	<p>Cluster {{loop.index}}: 
	{% for job in cluster %}
		{{job}},
	{% endfor %}
{% endfor %}
{% else %}
No data for the running the K-Means alghoritm with the given number of clusters. Please select a value between 10 and 16.
{% endif %}
	</p>
<h2>Hierarchical clustering</h2>
<div class="img-container">
	<img src="/img/job_dendrogram.png"/>
</div>

{% endblock %}

{% block text_main %}
<p>There are two methods of clustering presented in this section:
	k-means and hierarchical clustering. The hierarchical clustering
	algorithm is presented as a dendrogram where the user can approximate
	how related two skills are(we have also emphasized the most important
	clusters). The k-means algorithm was run for a number of clusters that
	varied between 10 and 16.</p>
{% endblock %}

{% block text_tech %}
<p>We have presented two clustering methods applied on our skills
	set. Before feeding the data to the clustering algorithms we have
	computed the feature vectors for each skill This feature vector is a
	binary vector where an entry represents whether a project requires that
	skill.</p>

<p>
	The <b>k-means clustering algorithm </b>divides the data into clusters
	based on the number of clusters decided by the user. It is a fast
	iterative algorithm which tries to gather the data around central
	points of the space: centroids. We have run the k-means algorithm using
	between 10 and 16 clusters. It can be seen that the one with X clusters
	intuitively makes more sense because it gathers only the skills that go
	together
</p>

<p>
	The <b>hierarchical clustering algorithm</b> takes longer, but the
	clusters are more accurate. The hierarchical clustering results are
	presented in a dendrogram, which also shows the links between clusters.
	This way, the user can see by the actual length of the links how close
	the clusters are. The most important clusters have been marked directly
	on the dendrogram.
</p>
{% endblock %}

{% block text_analysis %}
<p>As it can be seen from both clustering methods, the data can be
	easily put into clusters that make sense. It can be seen in the
	dendrogram that all the selected clusters are actually related to one
	another from a technical perspective. For example, all the operating
	systems are gather together, as well as most of the common programming
	languages</p> 
{% endblock %}