{% extends "templates/base.html" %} {% set active_page = "country_stats" %} {%
block title %}Country Statistics{% endblock %} {% block head %} {{ super() }}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
	$(document).ready(function() {
		
		// Add the click handlers for selecting and deselecting the jobs for the filter
		$("#selection-cloud .select-entry").click(on_select);
		$("#selected-list .select-entry").click(on_deselect);
		
		// Add the click listener for showing the map
		$("#show-map").click(function() {
			if($("#map-chart").is(":visible"))
			{
				$("#map-chart").slideUp('normal');
				$(this).text("Show map...");
			}
			else
			{
				$("#map-chart").slideDown('normal');
				$(this).text("Hide map...");
			}
		});
	});
	
	
	google.load('visualization', '1', {'packages': ['geochart', 'corechart']});
	google.setOnLoadCallback(drawCharts);

	function drawCharts(){
		drawRegionsMap();
		drawFrequentWords();
		drawOutBids();
	}

	function drawFrequentWords(){
        var data, options, chart;
        
        {% for stat in stats %}
        // Drawing chart for {{stat.country}}
        data = google.visualization.arrayToDataTable([
			['Word', 'Word Frequency'],
			{% for w in stat.frequent_words_expanded%} 
			["{{w[0]}}", {{w[1]}} ] {%if not loop.last %},{%endif%}
			{% endfor %}
		]);
		
		options = { 
				title: 'Most frequent words for {{stat.country}}', 
				legend: {position: 'left'}, 
	            hAxis: {slantedText: true,  showTextEvery:1},
	            height: 250,
	            chartArea: {left: 80, width: '90%'}
	            };
		
		chart = new google.visualization.ColumnChart(document.getElementById('wordfreq-chart-{{loop.index}}'));
		chart.draw(data, options);
		{% endfor %}
		
	}
	
	function drawOutBids(){
        var data, options, chart;
        
        {% for bid in bids %}
        // Drawing chart for {{bid.country}}
        data = google.visualization.arrayToDataTable([
			['Country', 'Bids'],
			{% for c in bid.bids_expanded%} 
			['{{c[0]}}', {{c[1]}} ] {%if not loop.last %},{%endif%}
			{% endfor %}
		]);
		
		options = { 
				title: 'People from \'{{bid.country}}\' bid on projects from:', 
				legend: {position: 'left'}, 
				height: 250};
		
		chart = new google.visualization.PieChart(document.getElementById('bids-chart-{{loop.index}}'));
		chart.draw(data, options);
		{% endfor %}
		
	}
	
	function drawRegionsMap() {
		// Fill in the data
		var dataTable = new google.visualization.DataTable();
		dataTable.addColumn('string', 'Country');
		dataTable.addColumn('number', 'Selected?');
		// A column for custom tooltip content
		dataTable.addColumn({type: 'string', role: 'tooltip'});
		dataTable.addRows([
			{% for c in selectable_countries%} 
			{% if c in countries %} ['{{c}}', 0 , "Selected"] {% else %} ['{{c}}', 100 , ""] {%endif%} {% if not loop.last %},{%endif%}
			{% endfor %}
		]);

		// Draw the chart
		var options = {
				enableRegionInteractivity: true, height: 500,
				tooltip: {trigger: 'focus'}, legend: 'none',
				colors: ['orange', '#005500'] };
		var chart = new google.visualization.GeoChart(document.getElementById('map-chart'));
		chart.draw(dataTable, options);
 };
    </script>
{% endblock %} {% block content %} {{ super() }}
<div id='selection-cloud'>
	{% for country in selectable_countries %}
	{% if not country in countries %}
	<div class="select-entry">{{country}}</div>
	{% endif %}
	{% endfor %}
</div>
<div class="clear"></div>
<p><i class="icon-globe"></i><i id="show-map" style="color: blue; cursor: pointer;">Show map...</i></p>
<div id="map-chart" hidden="hidden" style="width:100%; margin: auto;"></div>
<a id="results"></a>
<strong>Selected:</strong>
<div class="well well-small" >
	<form action="#results" id="select-form" class="inline-form"  data-filter='country' >
		<button class="btn" type="submit">Go!</button> 
		{% for country in countries %} 
		<input type='text' name='country' class="hidden" value='{{country}}'/>
		{% endfor %}
	</form>
	<div id="selected-list" style="float:left">
		{% for country in countries %}
		<div class="select-entry">{{country|e}}</div>
		{% endfor %}
	</div>
	<div class="clear"></div>
</div>


<div class="clear"></div>
<hr />

{% for stat in stats %}
<!-- Chart for bids for {{stat.country}} -->
<div class="country-entry">
	<div class="stats">
		<h2 class="title" style="margin-left:15px; margin-top:-5px">{{stat.country}}</h2>
		<dl class="dl-horizontal">
			<dt>Outbound bids:</dt><dd>{{stat.bids_count}}</dd>
			<dt>Word count:</dt><dd> {{stat.word_count}}</dd>
			<dt>Unique word count:</dt><dd> {{stat.unique_word_count}}</dd>
			<dt>Lexical diversity:</dt><dd> {{"%.2f"|format(stat.lexical_diversity)}}</dd>
			<dt>Average rating:</dt><dd> {{"%.2f"|format(stat.average_rating)}}</dd>			
		</dl>
	</div>
	<div id="bids-chart-{{loop.index}}" class="chart" style="margin-top:15px;width: 50%;"></div>
	<div id="wordfreq-chart-{{loop.index}}" class="chart" style="width: 100%;"></div>

</div>
{% endfor%}
<div class="clear"></div>

{% endblock %}

{% block text_main %}
<p>
    This page shows statistics about the bids submitted by freelancers of a given nationality. 
    Here, you can observe the number of bids from a  country, their distribution by country,
    the average rating of users from that country as well as some text analysis on their messages
    (word count, unique word count and lexical diversity and most frequent words).
    Also, this page can show you the world map: the selected countries are yellow 
    and the countries for which we have loaded the data here are green
</p>
{% endblock %}

{% block text_tech %}
<p>
    This statistics are based on 363883 bids from the most active 93 countries.
    The text analysis is done on all the bidding messages from a certain country.
    Before performing the lexical analysis, we cleaned the text of unnecessary
    characters and signs using regular expressions and we removed the stopwords.
</p>
{% endblock %}

{% block text_analysis %}
<p>
    India is the most active country on Freelancer.com, with over 150.000 bids, 
    followed by Bangladesh, Pakistan, USA, Vietnam and Romania.
    When computing the lexical diversity and the frequency distributions for the countries, 
    we were hoping to get relevant statistics regarding the diversity of the English 
    volcabulary for each country. However, the data shows that users prefer to send the 
    project owners a private messge with their details, and a very short bidding message, 
    asking them to check their private messages. We showed that there is a specific pattern
    that almost all freelancers use when bidding on a project.
    
</p>
{% endblock %}
