{% extends "templates/base.html" %} {% set active_page = "country_stats" %} {%
block title %}Country Statistics{% endblock %} {% block head %} {{ super() }}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
	$(document).ready(function() {
		
		// Add the click handlers for selecting and deselecting the jobs for the filter
		$("#selection-cloud .select-entry").click(on_select);
		$("#selected-list .select-entry").click(on_deselect);
		
		// Add the click listener for showing the map
		$("#show-map").click(function() {
			if($("#map-chart").is(":visible"))
			{
				$("#map-chart").slideUp('normal');
				$(this).text("Show map...");
			}
			else
			{
				$("#map-chart").slideDown('normal');
				$(this).text("Hide map...");
			}
		});
	});
	
	
	google.load('visualization', '1', {'packages': ['geochart', 'corechart']});
	google.setOnLoadCallback(drawCharts);

	function drawCharts(){
		drawRegionsMap();
		drawFrequentWords();
		drawOutBids();
	}

	function drawFrequentWords(){
        var data, options, chart;
        
        {% for stat in stats %}
        // Drawing chart for {{stat.country}}
        data = google.visualization.arrayToDataTable([
			['Word', 'Word Frequency'],
			{% for w in stat.frequent_words_expanded%} 
			["{{w[0]}}", {{w[1]}} ] {%if not loop.last %},{%endif%}
			{% endfor %}
		]);
		
		options = { 
				title: 'Most frequent words for {{stat.country}}', 
				legend: {position: 'left'}, 
	            hAxis: {slantedText: true,  showTextEvery:1},
	            height: 250,
	            chartArea: {left: 80, width: '90%'}
	            };
		
		chart = new google.visualization.ColumnChart(document.getElementById('wordfreq-chart-{{loop.index}}'));
		chart.draw(data, options);
		{% endfor %}
		
	}
	
	function drawOutBids(){
        var data, options, chart;
        
        {% for bid in bids %}
        // Drawing chart for {{bid.country}}
        data = google.visualization.arrayToDataTable([
			['Country', 'Bids'],
			{% for c in bid.bids_expanded%} 
			['{{c[0]}}', {{c[1]}} ] {%if not loop.last %},{%endif%}
			{% endfor %}
		]);
		
		options = { 
				title: 'Countries of people submitting projects on which freelancers from \'{{bid.country}}\' bid', 
				legend: {position: 'left'}, 
				height: 250};
		
		chart = new google.visualization.PieChart(document.getElementById('bids-chart-{{loop.index}}'));
		chart.draw(data, options);
		{% endfor %}
		
	}
	
	function drawRegionsMap() {
		// Fill in the data
		var dataTable = new google.visualization.DataTable();
		dataTable.addColumn('string', 'Country');
		dataTable.addColumn('number', 'Selected?');
		// A column for custom tooltip content
		dataTable.addColumn({type: 'string', role: 'tooltip'});
		dataTable.addRows([
			{% for c in selectable_countries%} 
			{% if c in countries %} ['{{c}}', 0 , "Selected"] {% else %} ['{{c}}', 100 , ""] {%endif%} {% if not loop.last %},{%endif%}
			{% endfor %}
		]);

		// Draw the chart
		var options = {
				enableRegionInteractivity: true, height: 500,
				tooltip: {trigger: 'focus'}, legend: 'none',
				colors: ['orange', '#005500'] };
		var chart = new google.visualization.GeoChart(document.getElementById('map-chart'));
		chart.draw(dataTable, options);
 };
    </script>
{% endblock %} {% block content %} {{ super() }}
<p>This page shows statistics about the bids submitted by a freelancer of a given nationality.</p>
<hr />
<div id='selection-cloud'>
	{% for country in selectable_countries %}
	{% if not country in countries %}
	<div class="select-entry">{{country}}</div>
	{% endif %}
	{% endfor %}
</div>
<div class="clear"></div>
<p><i id="show-map" style="color: blue; cursor: pointer;">Show map...</i></p>
<div id="map-chart" hidden="hidden" style="width:100%; margin: auto;"></div>
<hr/>
<p class="clear">Selected countries:</p>
<div id="selected-list">
	{% for country in countries %}
	<div class="select-entry">{{country|e}}</div>
	{% endfor %}
	<div class="clear"></div>
</div>
<form action="country_stats.html" id="select-form"  data-filter='country'>
	<input type="submit" value="Go!" /> 
	{% for country in countries %} 
	<input type='text' name='country' hidden='hidden' value='{{country}}'/>
	{% endfor %}
</form>

<div class="clear"></div>
<hr />
{% for stat in stats %}
<!-- Chart for bids for {{stat.country}} -->
<div class="country-entry">
	<div class="stats">
		<h2 class="title" style="margin-left:15px">{{stat.country}}</h2>
		<ul>
			<li>Outbound bids: {{stat.bids_count}}</li>
			<li>Word count: {{stat.word_count}}</li>
			<li>Unique word count: {{stat.unique_word_count}}</li>
			<li>Average rating: {{"%.2f"|format(stat.average_rating)}}</li>
		</ul>
	</div>
	<div id="bids-chart-{{loop.index}}" class="chart" style="width: 50%;"></div>
	<div id="wordfreq-chart-{{loop.index}}" class="chart" style="width: 100%;"></div>

</div>
{% endfor%}
<div class="clear"></div>

{% endblock %}
