{% extends "templates/base.html" %} {% set active_page = "country_stats" %} {%
block title %}Country Statistics{% endblock %} {% block head %} {{ super() }}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
	$(document).ready(function() {
		
		// Add the click handlers for selecting and deselecting the jobs for the filter
		$("#selection-cloud .select-entry").click(on_select);
		$("#selected-list .select-entry").click(on_deselect);
		
		// Add the click listener for showing the map
		$("#show-map").click(function() {
			if($("#map-chart").is(":visible"))
			{
				$("#map-chart").slideUp('normal');
				$(this).text("Show map...");
			}
			else
			{
				$("#map-chart").slideDown('normal');
				$(this).text("Hide map...");
			}
		});
	});
	
	
	google.load('visualization', '1', {'packages': ['geochart', 'corechart']});
	google.setOnLoadCallback(drawCharts);

	function drawCharts(){
		drawRegionsMap();
		drawFrequentWords();
		drawOutBids();
	}

	function drawFrequentWords(){
        var data, options, chart;
        
        {% for stat in stats %}
        // Drawing chart for {{stat.country}}
        data = google.visualization.arrayToDataTable([
			['Word', 'Word Frequency'],
			{% for w in stat.frequent_words_expanded%} 
			["{{w[0]}}", {{w[1]}} ] {%if not loop.last %},{%endif%}
			{% endfor %}
		]);
		
		options = { 
				title: 'Most frequent words for {{stat.country}}', 
				legend: {position: 'left'}, 
	            hAxis: {slantedText: true,  showTextEvery:1},
	            height: 250,
	            chartArea: {left: 80, width: '90%'}
	            };
		
		chart = new google.visualization.ColumnChart(document.getElementById('wordfreq-chart-{{loop.index}}'));
		chart.draw(data, options);
		{% endfor %}
		
	}
	
	function drawOutBids(){
        var data, options, chart;
        
        {% for bid in bids %}
        // Drawing chart for {{bid.country}}
        data = google.visualization.arrayToDataTable([
			['Country', 'Bids'],
			{% for c in bid.bids_expanded%} 
			['{{c[0]}}', {{c[1]}} ] {%if not loop.last %},{%endif%}
			{% endfor %}
		]);
		
		options = { 
				title: 'People from \'{{bid.country}}\' bid on projects from:', 
				legend: {position: 'left'}, 
				height: 250};
		
		chart = new google.visualization.PieChart(document.getElementById('bids-chart-{{loop.index}}'));
		chart.draw(data, options);
		{% endfor %}
		
	}
	
	function drawRegionsMap() {
		// Fill in the data
		var dataTable = new google.visualization.DataTable();
		dataTable.addColumn('string', 'Country');
		dataTable.addColumn('number', 'Selected?');
		// A column for custom tooltip content
		dataTable.addColumn({type: 'string', role: 'tooltip'});
		dataTable.addRows([
			{% for c in selectable_countries%} 
			{% if c in countries %} ['{{c}}', 0 , "Selected"] {% else %} ['{{c}}', 100 , ""] {%endif%} {% if not loop.last %},{%endif%}
			{% endfor %}
		]);

		// Draw the chart
		var options = {
				enableRegionInteractivity: true, height: 500,
				tooltip: {trigger: 'focus'}, legend: 'none',
				colors: ['orange', '#005500'] };
		var chart = new google.visualization.GeoChart(document.getElementById('map-chart'));
		chart.draw(dataTable, options);
 };
    </script>
{% endblock %} {% block content %} {{ super() }}
<div id='selection-cloud'>
	{% for country in selectable_countries %}
	{% if not country in countries %}
	<div class="select-entry">{{country}}</div>
	{% endif %}
	{% endfor %}
</div>
<div class="clear"></div>
<p><i class="icon-globe"></i><i id="show-map" style="color: blue; cursor: pointer;">Show map...</i></p>
<div id="map-chart" hidden="hidden" style="width:100%; margin: auto;"></div>
<a id="results"></a>
<strong>Selected:</strong>
<div class="well well-small" >
	<form action="#results" id="select-form" class="inline-form"  data-filter='country' >
		<button class="btn" type="submit">Go!</button> 
		{% for country in countries %} 
		<input type='text' name='country' class="hidden" value='{{country}}'/>
		{% endfor %}
	</form>
	<div id="selected-list" style="float:left">
		{% for country in countries %}
		<div class="select-entry">{{country|e}}</div>
		{% endfor %}
	</div>
	<div class="clear"></div>
</div>


<div class="clear"></div>
<hr />

{% for stat in stats %}
<!-- Chart for bids for {{stat.country}} -->
<div class="country-entry">
	<div class="stats">
		<h2 class="title" style="margin-left:15px; margin-top:-5px">{{stat.country}}</h2>
		<dl class="dl-horizontal">
			<dt>Outbound bids:</dt><dd>{{stat.bids_count}}</dd>
			<dt>Word count:</dt><dd> {{stat.word_count}}</dd>
			<dt>Unique word count:</dt><dd> {{stat.unique_word_count}}</dd>
			<dt>Lexical diversity:</dt><dd> {{"%.2f"|format(stat.lexical_diversity)}}</dd>
			<dt>Average rating:</dt><dd> {{"%.2f"|format(stat.average_rating)}}</dd>			
		</dl>
	</div>
	<div id="bids-chart-{{loop.index}}" class="chart" style="margin-top:15px;width: 50%;"></div>
	<div id="wordfreq-chart-{{loop.index}}" class="chart" style="width: 100%;"></div>

</div>
{% endfor%}
<div class="clear"></div>

{% endblock %}

{% block text_main %}
<p>This page shows statistics about the bids submitted by
	freelancers of a given nationality. You can observe the number of
	bids by people of a given nationality, their distribution by country of
	target project, the average rating of users from that country as well
	as some text analysis on the messages used when bidding (word count,
	unique word count, lexical diversity and most frequent words).</p>
<p>
	You can choose one or more countries in the list below. You can also
	use the map provided by clicking on <i>Show Map</i> to see more easily
	which countries can be selected (green) and which are selected (orange;
	but only after pressing the <i>Go!</i> button ).
</p>
{% endblock %}

{% block text_tech %}
<p>These statistics are based on 363.884 bids and 29.965 project
	details.</p>
<p>The data is only presented for the most active 93 countries by
	number of projects submitted by people with that nationality. It has to
	be mentioned that some inaccuracies may appear as, due to the fact
	that, on Freelancer.com, the countries/cities of the users are inserted as
	text, many users input information wrongly (e.g region or city instead
	of country). For example, in the top 50 we could have found cases such
	as Ahmedabad (329 projects), a region in India. Some of these cases
	have been manually cleaned by us.</p>
<p>The text analysis is done on all the bidding messages for users
	from a certain country. Before performing the lexical analysis, we
	cleaned the text of unnecessary characters and signs using regular
	expressions and we removed the stopwords.</p>
{% endblock %}

{% block text_analysis %}
<p>
    India is the most active country on Freelancer.com, with over 150.000 bids, 
    followed by Bangladesh, Pakistan, USA and Vietnam.
    When computing the lexical diversity and the frequency distributions for the countries, 
    we were hoping to get relevant statistics regarding the diversity of the English 
    vocabulary for each country. However, the results show that users prefer to send the 
    project owners a private message with their details, and a very short bidding message, 
    asking them to check their private messages. This has showed that there is a specific pattern
    that almost all freelancers use when bidding on a project.    
</p>
<p>
	Some other interesting findings can be noticed when checking countries
	with a low number of bids with only 1 or 2 people who bid. For <a
		href="/country_stats.html?country=Florida&country=El+Salvador#results">example</a>,
	for El Salvador and Florida, the word frequency of the most used words
	is relatively constant, showing that, most likely, only 1 or 2 people
	from these countries/regions applied for projects, most of the time
	with the same message.
</p>
{% endblock %}
