{% extends "templates/base.html" %} 
{% set active_page = "earnings" %}
{% block title %}Earnings{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
$(document).ready(function() {
	// Add the click handlers for selecting and deselecting the jobs for the filter
	$("#selection-cloud .select-entry").click(on_select);
	$("#selected-list .select-entry").click(on_deselect);
	});
</script>

{% endblock %} {% block content %} {{super()}}
<div id='selection-cloud'>
	{% for job in selectable %}
	{% if not job in selected_jobs %}
	<div class="select-entry">{{job|e}}</div>
	{% endif %}
	{% endfor %}
</div>
<div class="clear"></div>
<a id="results"></a>
<strong>Selected:</strong>
<div class="well well-small" >
	<form action="#results" id="select-form" data-filter='job'>
		<button type="submit" class="btn">Go!</button>
		{% for job in selected_jobs %}
		<input type='text' name='job' class='hidden' value='{{job}}'/>
		{% endfor %}
	</form>
	<div id="selected-list">
		{% for job in selected_jobs %}
		<div class="select-entry">{{job|e}}</div>
		{% endfor %}
	</div>
	<div class="clear"></div>
</div>

<div class="clear"></div>
<hr/>
<a id="results"></a>
{% if matching != None %}
<h4>Search results</h4>
<table class="table table-striped table-hover">
	<tr><th>Skills required</th><th>Average accepted bids</th>
	{% for m in matching %}
	<tr><td>{% for j in m[1] %} <span class="badge badge-info">{{j}}</span>{%endfor%}</td><td style="width:250px">&#36; {{m[0]}}</td></tr>
	{% endfor %}
</table>
{% elif searched %}
<div class="alert">No patterns found matching your search query!</div>
{% endif %}
<h4>Top paid</h4>
<table class="table table-striped table-hover">
	<tr><th>Skills required</th><th>Average accepted bids</th>
	{% for m in top_paid %}
	<tr><td>{% for j in m[1] %} <span class="badge badge-info">{{j}}</span>{%endfor%}</td><td style="width:250px">&#36; {{m[0]}}</td></tr>
	{% endfor %}
</table>

{% endblock %}

{% block text_tech %}
In order to compute the average earnings per pattern we downloaded the skills for each project (from the first 30.000), its currency and the amount of money that was actually payed to the person who was given the project. Afterwards, the job pattern was retained as a BitVector and each project was analysed and an average for each job pattern was computed.
The first approach was to use the average bid on each project. Although at first it might seem like a good idea, it turns out that some bidders actually wanted huge amount of money for a project (one wanted $500.000 on a project with around $3000 budget) probably because of the currency differences.
{% endblock %}

{% block text_main %}
This section presents the average earnings for different skill patterns. 
Let's say a project needs PHP and HTML;in this case its skill patterns will 
be PHP and HTML. The user chooses the desired skills and those skills 
represent a pattern. The application searches for this pattern and shows 
all the other patterns that contain it, ordered by the average amount of 
money that was earned from it. For example PHP and HTML pattern is included 
in PHP, HTML and MySQL pattern. 
{% endblock %}

{% block text_analysis %}
It can be seen that the average sum payed for some projects is very high. 
For example, if the user chooses only PHP, the first pattern worths $5000. The reason for this high average is that probably there is a single project in the first 30.000 that it was a big project which was payed very well. This means that the amount of money payed for a project depends not only on the skills, but on the size of the project and most likely on the delivery time(the shorter the time the higher the price)
{% endblock %}
