{% extends "templates/base.html" %} 
{% set active_page = "earnings" %}
{% block title %}Earnings{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
$(document).ready(function() {
	// Add the click handlers for selecting and deselecting the jobs for the filter
	$("#selection-cloud .select-entry").click(on_select);
	$("#selected-list .select-entry").click(on_deselect);
	});
</script>

{% endblock %} {% block content %} {{super()}}
<div id='selection-cloud'>
	{% for job in selectable %}
	{% if not job in selected_jobs %}
	<div class="select-entry">{{job|e}}</div>
	{% endif %}
	{% endfor %}
</div>
<div class="clear"></div>
<a id="results"></a>
<strong>Selected:</strong>
<div class="well well-small" >
	<form action="#results" id="select-form" data-filter='job'>
		<button type="submit" class="btn">Go!</button>
		{% for job in selected_jobs %}
		<input type='text' name='job' class='hidden' value='{{job}}'/>
		{% endfor %}
	</form>
	<div id="selected-list">
		{% for job in selected_jobs %}
		<div class="select-entry">{{job|e}}</div>
		{% endfor %}
	</div>
	<div class="clear"></div>
</div>

<div class="clear"></div>
<hr/>
<a id="results"></a>
{% if matching != None %}
<h4>Search results</h4>
<table class="table table-striped table-hover">
	<tr><th>Skills required</th><th>Average accepted bids</th>
	{% for m in matching %}
	<tr><td>{% for j in m[1] %} <span class="badge badge-info">{{j}}</span>{%endfor%}</td><td style="width:250px">&#36; {{m[0]}}</td></tr>
	{% endfor %}
</table>
{% elif searched %}
<div class="alert">No patterns found matching your search query!</div>
{% endif %}
<h4>Top paid</h4>
<table class="table table-striped table-hover">
	<tr><th>Skills required</th><th>Average accepted bids</th>
	{% for m in top_paid %}
	<tr><td>{% for j in m[1] %} <span class="badge badge-info">{{j}}</span>{%endfor%}</td><td style="width:250px">&#36; {{m[0]}}</td></tr>
	{% endfor %}
</table>

{% endblock %}

{% block text_tech %}
{% endblock %}

{% block text_main %}
{% endblock %}

{% block text_analysis %}
{% endblock %}
