{% extends "templates/base.html" %} 
{% set active_page = "jobs" %}
{% block title %}Jobs{% endblock %}

{% block head %}
    {{ super() }}
<style>
#tagcloud {
	border: 1px solid #aaa;
	padding: 25px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 8px #888;
	-webkit-box-shadow: 0px 0px 8px #888;
	box-shadow: 0px 0px 8px #888;
}

#tagcloud .tag-entry {
	text-decoration: none;
	color: #33a;
	padding: 4px;
	font-weight: normal;
}

#tagcloud .tag-entry:HOVER {
	padding: 3px;
	border: 1px solid #bbb;
	-moz-box-shadow: 0px 0px 4px #888;
	-webkit-box-shadow: 0px 0px 4px #888;
	box-shadow: 0px 0px 4px #888;
}
</style>
<script>
	$(document).ready(function() {
		$("#tagcloud a").tagcloud({
			size : {
				start : 0.7,
				end : 3,
				unit : 'em'
			},
			color : {
				start : "#394",
				end : "#B56"
			}
		});
	});	
</script>
{% endblock %} {% block content %} {{super()}}
<p>For customizing the number of entries or setting the ordering
	method, please use the following form.</p>
<form action="/jobs.html" style="border: 1px solid #999; padding: 10px;">
	<label for="count">Count: </label>
	<input type="number" name="count" value="{{count}}" /><br />
	<label for="randomize">Randomize: </label>
	<input type="checkbox" name="randomize" value="1" {% if randomize==1 %} checked="checked" {%endif%} />
	<input type="submit" value="Customize"/><br />
</form>

<p>These are the job categories on Freelancer.com:</p>
<div id='tagcloud'>
	{% for job in jobs %}
	<a href="https://www.freelancer.com/jobs/{{job.seo_url}}" rel="{{job.project_count}}" class="tag-entry">
		{{job.name}}
	</a>
	{% endfor %}
</div>

{% endblock %}

{% block text_main %}
<p>This page shows the skill categories on Freelancer.com. Their text
	size and color is proportional to number of projects that require 
	them.</p>
{% endblock %}

{% block text_analysis %}
<p> It can be seen that PHP is the most popular skill, followed by 
WebDesign and Graphic Design. This means that the demand on the market
for web technologies is increasing because people migrate from using 
desktop applications to using web applications.</p>
{% endblock %}

{% block text_tech %}
<p> The categories were computed for currently (at 23.11.2012) active 
categories. We have counted the number of active projects and afterwards used a javascript for displayinga word cloud.</p>