{% extends "templates/base.html" %} 
{% set active_page = "jobs" %}
{% block title %}Jobs{% endblock %}

{% block head %}
    {{ super() }}
<script>
	$(document).ready(function() {
		$("#tagcloud a").tagcloud({
			size : {
				start : 0.7,
				end : 4,
				unit : 'em'
			},
			color : {
				start : "#394",
				end : "#B56"
			}
		});
	});	
</script>
{% endblock %} {% block content %} {{super()}}
<p>This page shows the job categories on Freelancer.com. Their text size
	is proportional to their number of projects.</p>
<p>For customizing the number of entries or setting the ordering method:</p>
<form action="/jobs.html" style="border: 1px solid #999; padding: 10px;">
	<label for="count">Count: </label>
	<input type="number" name="count" value="{{count}}" /><br />
	<label for="randomize">Randomize: </label>
	<input type="checkbox" name="randomize" value="1" {% if randomize==1 %} checked="checked" {%endif%} />
	<input type="submit" value="Customize"/><br />
</form>

<p>These are the job categories on Freelancer.com:</p>
<div id='tagcloud'>
	{% for job in jobs %}
	<a href="https://www.freelancer.com/jobs/{{job.seo_url}}" rel="{{job.project_count}}" class="tag-entry">
		{{job.name}}
	</a>
	{% endfor %}
</div>

{% endblock %}
