{% extends "templates/base.html" %} {% set active_page = "networks"
%} {% block title %}Networks{% endblock %} 
{% block head %} {{ super() }}
<script type="text/javascript" src="js/sigma.min.js"></script>
<script type="text/javascript" src="js/sigma.parseGexf.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		init('data/modularity.gexf');
		$('#type-selector').change(function () {
	          $("#type-selector option:selected").each(function () {
	                $('#jobs-network').empty();
	                init($(this).val());

	              });
	        });

	});	
	
	function init(filename) {
		/**
		 * First, let's instantiate sigma.js :
		 */
		var sigInst = sigma.init($('#jobs-network')[0]).drawingProperties({
			defaultLabelColor : '#fff',
			defaultEdgeType : 'curve',
			labelThreshold : 6
		}).graphProperties({
			minNodeSize : 2,
			maxNodeSize : 6
		}).mouseProperties({
			maxRatio : 32
		});

		// (requires "sigma.parseGexf.js" to be executed)
		sigInst.parseGexf(filename);

		 // Bind events :
		sigInst.bind('overnodes',function(event){
			var nodes = event.content;
			var neighbors = {};
			sigInst.iterEdges(function(e){
				if(nodes.indexOf(e.source)>=0 || nodes.indexOf(e.target)>=0){
						neighbors[e.source] = 1;
						neighbors[e.target] = 1;
					}
				}).iterNodes(function(n){
						if(!neighbors[n.id]){
							n.hidden = 1;
						}else{
							n.hidden = 0;
						}	
					}).draw(2,2,2);
				}).bind('outnodes',function(){
						sigInst.iterEdges(function(e){
							e.hidden = 0;
						}).iterNodes(function(n){
							n.hidden = 0;
						}).draw(2,2,2);
					});
		
		/**
		 * Now, here is the code that shows the popup :
		 */
		(function() {
			var popUp;

			// This function is used to generate the attributes list from the node attributes.
			// Since the graph comes from GEXF, the attibutes look like:
			// [
			//   { attr: 'Lorem', val: '42' },
			//   { attr: 'Ipsum', val: 'dolores' },
			//   ...
			//   { attr: 'Sit',   val: 'amet' }
			// ]
			function attributesToString(attr) {
				return '<ul>' + attr.map(function(o) {
					return '<li>' + o.attr + ' : ' + o.val + '</li>';
				}).join('') + '</ul>';
			}

			function showNodeInfo(event) {
				popUp && popUp.remove();

				var node;
				sigInst.iterNodes(function(n) {
					node = n;
				}, [ event.content[0] ]);

				popUp = $('<div class="node-info-popup"></div>').append(
				// The GEXF parser stores all the attributes in an array named
				// 'attributes'. And since sigma.js does not recognize the key
				// 'attributes' (unlike the keys 'label', 'color', 'size' etc),
				// it stores it in the node 'attr' object :
				attributesToString(node['attr']['attributes'])).attr('id',
						'node-info' + sigInst.getID()).css({
					'display' : 'inline-block',
					'border-radius' : 3,
					'padding' : 5,
					'background' : '#fff',
					'color' : '#333',
					'box-shadow' : '0 0 4px #666',
					'position' : 'relative',
					//'left' : node.displayX,
					//'top' : node.displayY + 15
					'left' : 2,
					'top' : 2
				});

				$('#jobs-network').append(popUp);
			}

			function hideNodeInfo(event) {
				popUp && popUp.remove();
				popUp = false;
			}

			graph=sigInst.bind('overnodes', showNodeInfo).bind('outnodes',
					hideNodeInfo);
			graph.draw();
		})();
	}
</script>

{% endblock %} {% block content %} {{super()}}
<h2>Skills network</h2>
<p>Select the type of network visualization that you want used:</p>
<select id="type-selector">
	<option value="data/clustering_coef.gexf">Clustering Coefficient</option>
	<option value="data/modularity.gexf">Modularity</option>
	<option value="data/degree.gexf">Degree</option>
	<option value="data/closeness.gexf">Closeness Centrality</option>
	<option value="data/betweenness.gexf">Betweenness Centrality</option>
	<option value="data/eigenv.gexf">Eigenvector Centrality</option>
</select>
<br/>
<div class="sigma-parent">
  <div class="sigma-expand" id="jobs-network"></div>
</div>
{% endblock %}

{% block text_main %}
<p>
    This page shows the network structure of Freelancer.com skills and their connections. 
    You can choose from several types of visualisation. When hovering over a node, an 
    info box appears in the top left corner of the canvas, displaying the various measurements
    for that node. Also, when hovering over a node, only its neighbours are displayed.
</p>

<p>
    <b>Clustering Coefficient</b> measures the clustering for each node. The nodes with the highest 
    clustering coefficient are blue, and as it decreases, the color changes through light blue, 
    yellow, and orange to red.
    <b>Modularity</b> shows the different communities in the network, each of them with a different color.
    <b>Degree</b> colors the nodes according to their degree: the nodes with the most links are blue, 
    and as the degree decreases, the color changes through light blue, yellow, and orange to red.
    <b>Closeness centrality</b> shows how fast the information from a node spreads to another nodes 
    sequentially. The nodes with high closeness centrality are blue, and as it decreases, 
    the color changes through light blue, yellow, and orange to red.
    <b>Betweenness centrality</b> measures how important a node is in a network, by using the number
    of shortest paths from one node to another that go through that node. Nodes with high 
    betweenness centrality are blue, and as it decreases, the color changes through light 
    blue, yellow, and orange to red.
    <b>Eigenvector centrality</b> is based on the intuition that a node is as important as its 
    neighbours are. Nodes with high eigenvector centrality are blue, and as it decreases, 
    the color changes through light blue, yellow, and orange to red.
</p>
{% endblock %}

{% block text_tech %}
<p> 
    To build a network of the skills on Freelancer.com, an arc was drawn between two skills 
    if they were required together in more than 1% of the total number of projects in which 
    each of the skills is required. For example, an arc between PHP and MySQL was drawn, 
    because MySQL was required in more than 1% of the projects that required PHP and PHP 
    was required in more than 1% of the projects that required MySQL.
</p>
<p>
    The <b>clustering coefficient</b> of a node measures how complete the neighbourhood of 
    a node is. Nodes have a maximum clustering coefficient if all its neighbours are 
    connected to each other. For a node with a clustering coefficient of 0, none of its 
    neighbours is connected to any other of his neighbours.
    Nodes with <b>high</b> clustering coefficient: Google Buzz, Palm, Telecommunications Engineering, Machine Learning, Prezi, Cartography & Maps, Business Catalyst, Data Mining, Electrical Engineering
    Nodes with <b>low</b> clustering coefficient: Project Management, Financial Research, DOS, Mechanical Engineering, Viral Marketing, Technical Support, Matlab & Mathematica, Product Design, Product Management
</p>

<p>
    <b>Modularity</b> shows the communities detected in the network. The nodes have been 
    divided in 6 communities, shown with different colors. 
    <b>Red:</b> iPhone, iPad, Cocoa, Objective C, Android, Windows Mobile, Phone Gap, Flex, Java, Nokia, Kinect, Machine Learning, Algorithm, Game Design
    <b>Orange:</b> Google+, Facebook, YouTube, Tumblr, SEO, Articles, Web Search, Research, Data Entry, LinkedIn, Advertising, Recruitment, Market Research
    <b>Yellow:</b> 3D Animation, Logo Design, Photoshop Design, Banner Design, Word, Prezi, After Effects, T-Shirts, Flash, Photography
    <b>Gray:</b> Delphi, Apache, ActionScript, XML, Windows Server, Mac OS, Linux, C#, System Admin, Shell Script
    <b>Pink:</b> OCR, French, French (Canadian)
    <b>Blue:</b> PHP, MySQL, Javascript, Ajax, HTML, e-Commerce, eLearning, Django, Joomla, Ruby & Ruby on Rails
</p>

<p>
    The <b>degree</b> visualisation colors the nodes according to their degree. 
    Degree centrality can be a measurement of how important a node is in a network. 
    According to this measurement, we can see which nodes are the most and the least important.
    The nodes with the <b>highest</b> degree are: PHP, Website Design, Software Architecture, MySQL, Graphic Design, HTML, Javascript
    There are 36 nodes which have degree 1.
</p>

<p>
    <b>Closeness centrality</b> is a measurement of the importance of a node in a network. 
    Nodes with the <b>highest</b> closeness centrality: PHP, Website Design, Software Architecture, MySQL, Graphic Design, HTML, Javascript, Java
    Nodes with the <b>lowest</b> closeness centrality: Mechanical Engineering, Natural Language, Product Sourcing, Manufacturing, Civil Engineering
</p>

<p>
    <b>Betweenness</b> is another measurement of the importance of a node in a network. 
    For a node, it measures how many pairs of nodes in the network would be connected through
    it in their shortest path from one to another. Being quite a large network, the betweenness
    values for the nodes are relatively small. 
    Nodes with the <b>highest</b> betweenness centrality: PHP, Website Design, Graphic Design, Software Architecture, MySQL, Javascript, HTML
    Nodes with the <b>lowest</b> betweenness centrality: Mechanical Engineering, Natural Language, Product Sourcing, Manufacturing, Civil Engineering
</p>
<p>
    <b>Eigenvector centrality</b> also measure the importance of a node in a network.
    Nodes with the <b>highest</b> eigenvector centrality: PHP, Website Design, MySQL, Software Architecture, HTML, Javascript, Graphic Design
    Nodes with the <b>lowest</b> eigenvector centrality: Mechanical Engineering, Product Sourcing, Manufacturing, Natural Language, Civil Engineering
</p>
{% endblock %}

{% block text_analysis %}
<p> 
    <b>Clustering coefficient:</b><br>
    It is interesting to observe that the nodes which seem to be the most important,
    according to the various centrality measurements, have low clustering coefficients,
    while the nodes which are further from the center of the network can even have the 
    clustering coefficient 1, because they have very few neighbours (2 or 3) and 
    their neighbours are connected to each other.
</p>
<p>
    <b>Modularity:</b><br>
    The communities detected by the modularity algorithm make sense: the red community
    is related to mobile devices development, the orange community is related to social 
    networks and online marketing, the yellow community is related to design, the gray 
    community is related to operating systems and the blue community is related to websites.
    There is, however, the gray community, which contains only three nodes: OVR, French and 
    French (Canadian). These "skills" are not common and are not usually required together
    with other skills, so they form their own community.
</p>
<p>    
    <b>Centrality</b><br>
    <b>Degree, closeness, betweenness and eigenvector centrality</b> all measure, in some way,
    the importance of a node in the netowrk. It can be easily seen that the nodes with the 
    highest centrality are almost the same for all the centrality measures. This is also true
    for the nodes with the lowest centrality.
</p>
<p>
    After analysing the network as a whole, we can say that the most required skills on 
    Freelancer.com are the ones related to web development. This reault is also confirmed 
    by the analysis done in the Categories and Trends pages.
</p>
{% endblock %}
