{% extends "templates/base.html" %} 
{% set active_page = "recommendations" %}
{% block title %}Recommendations{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
$(document).ready(function() {
	// Add the click handlers for selecting and deselecting the jobs for the filter
	$("#selection-cloud .select-entry").click(on_select);
	$("#selected-list .select-entry").click(on_deselect);
	});

	{% if rec_enabled==True%}
	// Load the Visualization API and the piechart package.
	google.load('visualization', '1.0', { 'packages' : [ 'corechart' ] });

	// Set a callback to run when the Google Visualization API is loaded.
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Recommendation', 'Rating'],
			{% for rec in recommendations %}
				['{{rec[1]}}',{{rec[0]}}] {% if not loop.last %},{%endif%}
			{% endfor %}
		]);
		
		var options = {
			title: 'Recommendations',
			height: 300,
			chartArea: {left: 150},
			legend: {position: 'none'}
		};
		
		var chart = new google.visualization.BarChart(document.getElementById('chart-div'));
		chart.draw(data, options);
	}
	{% endif %}
</script>

<style>
	.results-box {
		width: 31%;
		margin: 15px 10px 15px 20px;
		border: 1px solid #bbb;
		border-radius: 3px;
		float: left;
		padding: 15px;
		height: 100%;	
		background-color: white;
	}
	
	#recommendations {
		width: 60%;
	}
	
	#top-matches table tr {
		height: 27px;
	}
	
	.match {
		background: #e1e1f9;
		padding: 3px;
		margin: 1px;
		border: 1px solid #bbb;
		line-height: 2.1em;
	}
</style>
 

{% endblock %} {% block content %} {{super()}}

<div id='selection-cloud'>
	{% for job in jobs %}
	{% if not job in selected_jobs %}
	<div class="select-entry">{{job|e}}</div>
	{% endif %}
	{% endfor %}
</div>
<div class="clear"></div>
<a id="results"></a>
<strong>Selected:</strong>
<div class="well well-small" >
	<form action="#results" id="select-form" data-filter='job'>
		<button type="submit" class="btn">Go!</button>
		{% for job in selected_jobs %}
		<input type='text' name='job' class='hidden' value='{{job}}'/>
		{% endfor %}
	</form>
	<div id="selected-list">
		{% for job in selected_jobs %}
		<div class="select-entry">{{job|e}}</div>
		{% endfor %}
	</div>
	<div class="clear"></div>
</div>

<div class="clear"></div>
<hr/>

{% if top_matches != None %}
<div id="top-matches" class="results-box">
	<h2>Top Similar Patterns</h2>
	<table style="width: 100%;">
		<tr><th style="text-align: left">Jobs</th><th style="text-align: left">Projects Count</th></tr>
		{% for match in top_matches %}
			<tr>
				<td>{% for job in match[2] %} <span class='match'>{{job|e}}</span>{%endfor%}</td>
				<td>{{ match[1]}}</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endif %}

{% if rec_enabled == True %}
<div id="recommendations" class="results-box">
	<h2>Learning recommendations</h2>
	<div id="chart-div"></div>
</div>
{% endif %}
<div class="clear"></div>

{% endblock %}

{% block text_tech %}
<p>The top matches and the recommendations have been computed using a 
binary vector for memorizing the most common combinations of jobs.</p> 
To compute the <b>top matches</b>, the similarities between the skills 
chosen by the user and each of the vectors are computed and the most 
similar job patterns.However, because the vectors are binary, the distance 
between them is represented by the bits that are different, which 
sometimes, when the user chooses few or unrelated features might cause 
errors.</p>
<p> The <b>recommendations</b> count the number of patterns where two 
skills were found together so the number vary more and more accurate suggestions can be showed.</p>
{% endblock %}

{% block text_main %}
<p>In this section we display the most popular skills on freelancer.com. 
From these, you should choose your skills and then the application will 
compute the most popular skills that are usually demanded together as well 
as recommendations on what to learn , considering your current skills.
	<p>For setting a new skill for getting recommendation, please select it in the list below</p>
</p>
{% endblock %}

{% block text_analysis %}
<p> The <b>recommendations</b> perform very well, suggesting skills that are highly related to the skills chosen by the user. For example, if the user chooses Cocoa  and iPhone, the application will suggest to learn iPhone, Mobile Phone and Objective C. </p>
<p>The <b>top similar pattern</b> find the most similar job patterns to the 
selected jobs. In case the user chooses Cocoa and iPhone, the first three 
suggestions are iPhone, iPhone & iPad and PHP. The reason why PHP is there 
is because there are no other patterns that have a higher similarity than 
PHP. Even though some patterns might contain Cocoa, they also contain other 
skills and this enlarges the distance. The patterns with the same 
similarity score are ordered by the number of project and, as PHP has the 
highest number of projects, it is displayed first. In cases where the user 
chooses more unrelated skills or very few skills, the case with the PHP can 
repeat and even be on the first position</p>
{% endblock %}
