{% extends "templates/base.html" %} 
{% set active_page = "trends" %}
{% block title %}Trends{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
	$(document).ready(function() {
		// Draw the job cloud
		$("#selection-cloud .select-entry").tagcloud({
			size : {
				start : 0.72,
				end : 1.08,
				unit : 'em'
			},
			color : {
				start : "#013",
				end : "#b13"
			}
		});

		// Add the click handlers for selecting and deselecting the jobs for the filter
		$("#selection-cloud .select-entry").click(on_select);
		$("#selected-list .select-entry").click(on_deselect);
	});
	
	{% if count > 0 %}
	
	// Load the Visualization API and the piechart package.
	google.load('visualization', '1.0', { 'packages' : [ 'corechart' ] });

	// Set a callback to run when the Google Visualization API is loaded.
	google.setOnLoadCallback(drawChart);

	// Callback that creates and populates the data table,
	// instantiates the chart, passes in the data and
	// draws it.
	function drawChart() {
		
		var counts={
			{% for trend in trends %}
				'{{trend.job}}': [ {% for val in trend.values%} {{val}} {% if not loop.last %},{%endif%} {% endfor %} ] {% if not loop.last %},{%endif%}
		  	{% endfor %}
		}
		
		var data = google.visualization.arrayToDataTable([
				[ 'Month', {% for trend in trends %} '{{trend.job}}' {% if not loop.last %},{%endif%} {% endfor %}],
				{% for month in months %}
					{% set monthsloop = loop %}
						[ '{{month}}', 
						{% for trend in trends %}
							counts['{{trend.job}}'][{{monthsloop.index0}}] {% if not loop.last %},{%endif%}
					  	{% endfor %}
						] 
					{% if not loop.last %},{%endif%}
				{% endfor %}
				]);

		var options = {
			'title' : 'Monthly Trends',
		  	'height':700,
		  	"backgroundColor": "transparent"
		};

		var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
	{% endif%}

</script>


{% endblock %} {% block content %} {{super()}}
<p>For adding a new job on the graphs, please select it in the following list:</p>
<div id='selection-cloud'>
	{% for job in jobs %}
	{% if not job[0] in trends_names %}
	<div class="select-entry" rel="{{job[1]}}">{{job[0]|e}}</div>
	{% endif %}
	{% endfor %}
</div>
<div class="clear"></div>
<hr/>
<a id="results"></a>
<p>Selected job types:</p>
<div id="selected-list">
	{% for trend in trends_names %}
	<div class="select-entry">{{trend|e}}</div>
	{% endfor %}
	<div class="clear"></div>
</div>
<form action="#results" id="select-form" data-filter='job'>
	<input type="submit" value="Go!"/>
	{% for trend in trends_names %}
	<input type='text' name='job' hidden='hidden' value='{{trend}}' data-select='{{trend}}'/>
	{% endfor %}
</form>

<div class="clear"></div>
<hr/>
<div id="chart_div"></div>

{% endblock %}

{% block text_main %}
<p>The trends present the evolution in the demand of skills over the
	years, between 1st of January 2008 and 20th on November 2012. They are
	computed as percent out of the total number of projects. You can
	compare the trends for different skills by selecting each of your
	desired skills.</p>
{% endblock %}

{% block text_tech %}
<p>To compute the trends for a skill we computed, for every month,
	the number of projects that require that skill. Also, we have computed
	the total amount of projects regardess of their requirements. This
	total will also be used to compute the percentage of projects that need
	a particular skill.</p>
{% endblock %}

{% block text_analysis %}
<p>We can see that there are some skills for which the demand is
	slightly decreasing( for example Visual Basic) and others that are high
	in demand - usually skills related to new technologies(like Facebook or
	HTML5)</p>
<p>The trends are computed for a number of 1.770.031 million
	projects so that they present a good overview of the market</p>
{% endblock %}
